.popup__occupation {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #00000020;
  box-sizing: border-box;
  height: 27px;
  padding-bottom: 13px;
  outline: none;
}
